.container {
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.name {
  margin: 0;
}
.number {
  margin: 0;
}
